In [2]:
import pandas as pd
import pigeonXT as pixt

df_custom = pd.DataFrame([
    {'example': 'I am Owais Ahmad'},
    {'example': 'I am working as a Data Scientist at Thoucentric'},
    {'example': 'I have Done Masters in Data Science from JNU'},
    {'example': 'I am also a Kaggle Expert'},
    {'example': 'I love to contributing to open source community'},
    {'example': 'I live in Bangalore '},
])

labels = ['Class1',  'Class2', 'Class3', 'Class4', 'Class5']

annotations = pixt.annotate(
    df_custom,
    options=labels,
    task_type='multilabel-classification',
    buttons_in_a_row=3,
    reset_buttons_after_click=True,
    include_next=True,
    include_back=True,
)

HTML(value='0 of 6 Examples annotated, Current Position: 0 ')

VBox(children=(HBox(children=(ToggleButton(value=False, description='Class1'), ToggleButton(value=False, descr…

Output()

In [3]:
annotations

,example,changed,Class1,Class2,Class3,Class4,Class5
0,I am Owais Ahmad,False,False,False,False,False,False
1,I am working as a Data Scientist at Thoucentric,False,False,False,False,False,False
2,I have Done Masters in Data Science from JNU,False,False,False,False,False,False
3,I am also a Kaggle Expert,False,False,False,False,False,False
4,I love to contributing to open source community,False,False,False,False,False,False
5,I live in Bangalore,False,False,False,False,False,False

In [4]:
!dir satellite_Images

 Volume in drive K is OWAIS KHAN
 Volume Serial Number is B6B2-5736

 Directory of K:\Road Damage Detection and Classification\Yolov7\satellite_Images

02/07/2023  04:23 PM    <DIR>          .
02/07/2023  04:23 PM    <DIR>          ..
02/07/2023  04:19 PM         1,941,290 land_shallow_topo_2048.tif
02/07/2023  04:19 PM         1,941,290 land_shallow_topo_2049.tif
02/07/2023  04:19 PM         1,941,290 land_shallow_topo_2050.tif
02/07/2023  04:19 PM         1,941,290 land_shallow_topo_2051.tif
               4 File(s)      7,765,160 bytes
               2 Dir(s)   3,456,815,104 bytes free

In [5]:
from IPython.display import display# Image
from PIL import Image as Image1
def convert_im(infile):
    infile= str(infile)
    proper_name = infile[infile.index('satellite_Images'):infile.index('tif')+3]
    out = Image1.open(proper_name, 'r')
    display(out)
    return out

from PIL import Image as Image_PIL 
annotations = pixt.annotate(
  ['satellite_Images//land_shallow_topo_2048.tif', 'satellite_Images//land_shallow_topo_2049.tif',
   'satellite_Images//land_shallow_topo_2050.tif','satellite_Images//land_shallow_topo_2051.tif'],
  options=['Class1', 'Class2', 'Class3'],
  display_fn=lambda filename: convert_im(filename)
)

HTML(value='0 of 4 Examples annotated, Current Position: 0 ')

VBox(children=(HBox(children=(Button(description='Class1', style=ButtonStyle()), Button(description='Class2', …

Output()

In [6]:
annotations

                                        example  changed label
0  satellite_Images//land_shallow_topo_2048.tif    False
1  satellite_Images//land_shallow_topo_2049.tif    False
2  satellite_Images//land_shallow_topo_2050.tif    False
3  satellite_Images//land_shallow_topo_2051.tif    False